/* .customBadgeStyle {
  display: inline-flex;
  padding: 1px 10px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 24px;
  background: #EEEFF2;
  color: #3E4959;
  text-align: right;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.22px;
  margin-right: 16px;
} */

.badgeStyle {
  display: inline-flex;
  padding: 1px 10px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 24px;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.22px;
  margin-right: 16px;
}

.requestBadgeStyle {
  background: #FFC800;
  color: #3E4959;
}

.pendingBadgeStyle {
  background: #F2C94C;
  color: #3E4959;
}

.approvedBadgeStyle {
  background: #27AE60;
  color: #FFFFFF;
}

.declinedBadgeStyle {
  background: #FF453A;
  color: #FFFFFF;
}

.invitedBadgeStyle {
  background: #EEEFF2;
  color: #3E4959;
}